/* http://gocz.ch/boilerplates/ 
    v2.0 | 20240727
    License: none (public domain)
*/

/*Instead of import your fonts here, better if you use the standard HTML link method in the html file
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Quicksand:wght@300..700&display=swap');
*/

/* Basic reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



/* Cursor for HTML elements */

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* smooth scroll behavior */

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        }
    }




/* --- DEVICE BREAKPOINTS --- */
/* Mobile devices (0 - 768) */
/* Tablet devices (769 - 1023) */
/* Screen devices (1024 - ~) */


/* - - - - - - - - - end of basic setup - - - - - - - */




 /* Mobile devices first (0 - 768) */



/* Color Variables */

:root {
    --c-black: #131200;
    --c-viola-dark: #EF2DAA;
    --c-viola: #FF86D5;
    --c-viola-light: #FFF1FA;
    --c-green: #f7f7be;
    --c-green-light: #F6FFF8;
    --c-grey: #EBEDEF;
    --c-grey-light: #F9FBFE;
    }




/* nav icon */

#navIcon {
    display: none;
    width: 20px;
    height: 15px;
    position: relative;
    margin-left: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#navIcon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--c-viola-light);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#navIcon span:nth-child(1) {
    top: 0px;
}

#navIcon span:nth-child(2) {
    top: 6px;
}

#navIcon span:nth-child(3) {
    top: 12px;
}

#navIcon.open span:nth-child(1) {
    top: 6px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#navIcon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#navIcon.open span:nth-child(3) {
    top: 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}



/* body */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background:  var(--c-grey-light);

    font-family: 'Mandali-Regular', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: var(--c-black)
}

a {
    text-decoration: none;
    color: var(--c-black);
}

#container {
    width: 100%;
    height: 100vh;
}



/* header, logo, navIcon */

header {
    font-size: 16px;
    width: 100%;
    height: 68px;
    background-color: var(--c-viola-dark);
    padding: 4px 6px 6px;
    color: var(--c-viola-light);

    display: grid;
    grid-template-areas:
        "logo nav txt1"
        "logo txt2 txt2"
        "logo txt3 txt3";
    grid-template-rows: 20px 20px 20px;
    grid-template-columns: 1fr auto auto;
    
}

#logo {
    grid-area: logo;
    margin: 0px auto 0px 0px;
}


#logo img {
    height: 60px;
}

#navIcon {
    grid-area: nav;
}

header div:nth-child(3) {
    grid-area: txt1;
}

header div:nth-child(4) {
    grid-area: txt2;
}

header div:nth-child(5) {
    grid-area: txt3;
}


header div:nth-child(3),
header div:nth-child(4),
header div:nth-child(5)
    {
    text-align: right;
}



/* motto, .h2Title, h2, .txt, .list, .boldFont */

#motto div {
    width: fit-content;
    margin: 40px auto 30px;
    text-align: left;
}


.h2Title,
h2 {
    font-family: "Quicksand" , "sans-serif";
    font-weight: 500;
    font-size: 24px;
    color: var(--c-viola-dark);
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin: 30px auto 20px;
    font-family: "Bad Script", cursive;
    font-weight: 500;
    font-size: 20px;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 20px;
}

.txt {
    margin: 0px 10px 10px 10px;
    text-align: justify;
    text-justify: inter-word;
}

.boldFont {
    font-weight: bold;
}

.list {
    display: inline-block;
    margin: 0px auto 30px;
    padding: 0px 10px;
    text-align: left;
}



/* prenota button */

#prenota,
#submit {
    display: flex;
    width: 200px;
    height: 44px;
    margin: 30px auto 50px;
    border-radius: 22px;
    font-family: "Quicksand" , "sans-serif";
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

#prenota {
    background-color: var(--c-viola-dark);
    border: 2px solid var(--c-viola);
    color: var(--c-viola-light);
}

#submit {
    background-color: var(--c-green);
    border: 1px solid var(--c-viola-dark);
    color: var(--c-black);
}

#prenota p,
#submit p {
    margin-left: auto;
}

#prenota img,
#submit img {
    height: 28px;
    margin: 0px auto 0px 8px;
}



/* images */

.lotus,
.hullam,
.trees {
    margin-bottom: 40px;
}
.orsi {
    margin: 20px auto;
}

.lotus img,
.hullam img {
    width: 100%;
    max-width: 1980px;
}
.trees img {
    width: 100%;
    max-width: 1282px;
}
.orsi img {
    width: 50%;
    max-width: 1536px;
}



/* Membro dell’SGfB e CoSì */

.membro {
    margin: 30px auto 20px;
}

#membroContainer {
    display: grid;
    margin-bottom: 20px;
}

#sgfb,
#cosi {
    width: 80%;
    max-width: 707px;
}



/* email form */

.formHeader {
    margin: 20px auto 20px auto;
}

.formHeader p {
    margin: 8px auto;
    font-size: 18px;
}

label, input, button {
    display: block;
    margin: 0 auto;
}

#emailForm {
    background-color: var(--c-viola);
    width: 100%;
    margin: 50px auto 0px;
    padding: 30px 0;
}
.inputField label,
.inputField input,
.inputField textarea {
    width: 80%;
    max-width: 500px;
    padding: 8px 8px;
    border-radius: 8px;
}
.inputField input,
.inputField textarea {
    background-color: var(--c-viola-light);
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid var(--c-viola-dark);
}
.inputField label {
    font-size: 12px;
}
.inputField textarea {
    resize: none;
}



/* contact infos */

.contact {
    background-color: var(--c-black);
    padding: 30px 0px 200px;
}

.contact h3 {
    color: var(--c-viola);
}

.data-container {
    color: var(--c-viola-light);
    margin-bottom: 20px;
}

.data-container a,
.map a p {
    color: var(--c-viola-light);
    text-decoration: underline;
}

.data-container p {
    margin-bottom: 8px;
}








/*
------------------MEDIAQUERIES-----------------------
*/





























 /* Tablet devices (769 - 1023) */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    
}

 /* Screen devices (1024 - ~) */
@media only screen and (min-width: 1024px) {
    
}



